<div class="card">
    <div class="card-header">
        List of kids
    </div>
    <div class="card-body" *ngIf="!isLoading && !isError">
        <div class="table">
            <thead>
                <tr>
                    <th>Fist name</th>
                    <th>Last name</th>
                    <th>D.O.B.</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registration of registrations">
                    <td>{{ registration.fName }}</td>
                    <td>{{ registration.lName }}</td>
                    <td>{{ registration.birthday }}</td>
                    <td>{{ registration.gender }}</td>
                    <td>{{ registration.email }}</td>
                    <td>{{ registration.phone }}</td>
                    <td>{{ registration.grade }}</td>
                    <td>
                        <div *ngIf="isLoggedin">
                            <a class="btn btn-success" [routerLink]="['/update',registration.id]" >Edit</a>&nbsp;
                            <button class="btn btn-danger" (click)="deleteRegistration(registration.id)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </div>
        <div *ngIf="!isLoggedin">In order to edit you have to <a routerLink="/login">log in</a>.</div>
        <div *ngIf="isLoggedin">Logged in as: {{ user?.email }}. <a class="btn btn-primary" (click)="onLogout()" >Log out</a></div>
    </div>
    <div class="card" *ngIf="isLoading">
        <div class="card-body">
            <div class="alert alert-info">Loading.</div>
        </div>
    </div>
    <div class="card" *ngIf="isError">
        <div class="card-body">
            <div class="alert alert-danger">Unable to load data.</div>
        </div>
    </div>
</div>
