<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Junior Scouts</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Scout list</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/new">Register scout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/registration">Naturalist club</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/naturalists">Naturalists</a>
            </li>
        </ul>
        <div *ngIf="isLoggedin" class="d-flex me-2" >Logged in as: <b>{{ user?.email }}</b> </div>
        <a *ngIf="isLoggedin" class="btn btn-primary d-flex me-3" routerLink="/password">Change password</a>
        <a *ngIf="!isLoggedin" class="btn btn-primary d-flex" routerLink="/login">Log in</a>
        <button *ngIf="isLoggedin" class="btn btn-primary d-flex" (click)="onLogout()">Log out</button>
        </div>
    </div>
</nav>
